.mat-list {
  padding: 0 40px 0 20px;
}

.button-row {
  text-align: center;
  padding: 10px 0;
}

.mat-raised-button {
  padding: 0 60px;
  font-size: 16px;
}

.content-container {
  max-width: 700px;
  margin: auto;
}