<div class="main-container">
  <div class="content-container">
    <div class="button-row">
      <button 
      mat-raised-button
      color="accent"
      (click)="addEvent()"
      data-qa="add-button"
      >Add event</button>
    </div>
    <mat-list>
      <app-event
      *ngFor="let event of (events$ | async)"
      [event]="event"
      data-qa="event-component"
      ></app-event>
    </mat-list>
  </div>
</div>