.dialog-content {
  width: 400px;
  padding-right: 24px;
}

.dialog-title {
  text-align: center;
  font-size: 30px;
}

.button-row {
  justify-content: space-around;
  display: flex;
}

.form-row {
  margin-bottom: 10px;
}
.form-control {
  width: 100%;
  border: 1px solid black;
  background-color: #e1e1e1;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 10px;
  margin-top: 5px;
  &:focus {
    outline: none;
  }
}

.textarea-control {
  height: 140px;
  resize: none;
  padding: 10px;
}

.bc-lightgreen {
  background-color: lightgreen;
}

.form-label {
  font-size: 20px;
}