<div class="dialog-content" data-qa="dialog-content">
  <h3 class="dialog-title" data-qa="dialog-title"> 
    {{ data?.dialogTitle }}
  </h3>
  <form action="" [formGroup]="eventForm">
    <div class="form-row">
      <label class="form-label" for="title">Title:</label>
      <input
      type="text"
      id="title"
      class="form-control"
      formControlName="title"
      data-qa="event-title-control"
      >
      <span 
      [hidden]="!eventForm.get('title').hasError('maxlength')"
      data-qa="title-validation-message"
      >
        Max. number of characters for this field is 50.
      </span>
    </div>
    <div class="form-row">
      <label class="form-label" for="description">Description:</label>
      <textarea
      name=""
      id="description"
      cols="30" rows="10"
      class="form-control textarea-control"
      formControlName="description"
      data-qa="event-description-control"
      ></textarea>
      <span
      [hidden]="!eventForm.get('description').hasError('maxlength')"
      data-qa="description-validation-message"
      >
        Max. number of characters for this field is 500.
      </span>
    </div>
    <div class="button-row">
      <button 
      type="submit"
      mat-raised-button
      color="warn"
      (click)="close()"
      data-qa="close-dialog-button"
      >Cancel</button>
      <button
      type="submit"
      mat-raised-button
      class="bc-lightgreen"
      (click)="onOkClicked()"
      [disabled]="eventForm.invalid"
      data-qa="ok-dialog-button"
      >Ok</button>
    </div>
  </form>
</div>