.mat-list-item {
  color: black;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 22px;
  padding: 10px;
}

.mr--15 {
  margin-right: 15px;
}

::ng-deep .mat-list-item-content {
  justify-content: space-between;
}