<mat-list-item>
  <div data-qa="event-title">
    {{ event.title }}
  </div>
  <div>
    <button 
    mat-raised-button
    color="primary"
    (click)="editEvent()"
    class="mr--15"
    data-qa="edit-event-button"
    >Edit</button>
    <button 
    mat-raised-button
    color="warn"
    (click)="deleteEvent()"
    data-qa="delete-event-button"
    >Delete</button>
  </div>
</mat-list-item>