.dialog-content {
  width: 400px;
  padding-right: 24px;
}

.dialog-title {
  text-align: center;
  font-size: 30px;
}

.button-row {
  justify-content: space-around;
  display: flex;
}

.bc-lightgreen {
  background-color: lightgreen;
}

.title {
  text-align: center;
  font-size: 15px;
}

.mb--15 {
  margin-bottom: 15px;
}