<div class="dialog-content">
  <h3 class="dialog-title" data-qa="confirm-dialog-title"> 
    Delete event 
  </h3>
  
  <div class="title mb--15">
    Are you sure you want to delete
    <b>{{ data?.eventInfo?.title }}</b>
    ?
  </div>
  <div class="button-row">
    <button
    type="submit"
    mat-raised-button
    color="warn"
    (click)="close()"
    data-qa="close-dialog-button"
    >Cancel</button>
    <button
    type="submit"
    mat-raised-button
    class="bc-lightgreen"
    (click)="remove()"
    data-qa="remove-event-button"
    >Delete</button>
  </div>
</div>